/**
 * @name Purple Code
 * @author poisonouspurple
 * @version 0.0.1
 * @source https://github.com/CommandCrafterHD/Fallout4TerminalTheme
 * @website https://commandcrafterhd.github.io/Fallout4TerminalTheme
 * @donate https://www.paypal.com/paypalme/floriancegledi
 * @patreon https://patreon.com/bates
 * @description A theme inspired by Fallout 4's terminals!
 * @authorId 137259132305539072
 * @invite 6qd3SkP6Ch
*/

@import url("https://raw.githubusercontent.com/P0isonousPurple/Purple-Code/main/purpleThemeMain.css");

:root {
  --rgb-highlight: 206, 74, 239; /* The main highlight color */
  --rgb-background: 11, 0, 20; /* The main background color */
  --rgb-text: 233, 74, 239; /* The color (almost) all text should use */
  --rgb-close-button: 205, 18, 212; /* The main "close this" or "deny" color */
  --rgb-online-color: 57, 255, 20; /* The color used in the "online" user status symbol */
  --rgb-afk-color: 255, 255, 51; /* The color used in the "idle" user status symbol */
  --rgb-dnd-color: 255, 0, 0; /* The color used in the "do not disturb" user status symbol */
  --rgb-streaming-color: 188, 19, 254; /* The color used in the "streaming X" user status symbol */

  --transition-time: .3s; /* How fast animations added by the theme happen. Default is 0.3 seconds */

  --background-image: unset; /* To add an image, replace unset with url(https://www.YOUR-URL-HERE.com) */
  --background-position: center; /* Positions the background image */
  --background-size: cover; /* Scales the background image */
  --background-blur: 5px; /* Blurs the image which usually helps with readability of text infront of it */
  --background-brightness: 100%; /* Changes the background images brightness */
  
  --title-image: url("https://commandcrafterhd.github.io/Fallout4TerminalTheme/svg/title.svg"); /* The .svg file used for the "ROBCO Industries (TM) terminal" title */
  --title-image-repeat: no-repeat; /* If the title image should repeat */
  --title-image-size: cover; /* The size of the title image */
  --title-image-color: var(--highlight); /* The color used for the title image */
  --title-image-width: 240px; /* The width of the title image */
  --title-image-height: 14px; /* The height of the title image */
}